body {
  margin: 0;
  padding: 0;
  background-image: url("./image/background.jpg");
  margin-top: 29%;
}

.slim{
  z-index: 2;
  max-width: 101%;
  opacity: 1.5;
}

.mood {
  z-index: -1;
  max-width: 97%;
  margin-top: 21%;
  margin-left: -3%;
}

.sloppy {
  margin-top: -127%;
  color: white;
  box-shadow: 10px 10px 10px #bfb5b5;
  background-color: #094152;
  min-width: 135%;
  float: left;
  margin-left: -18%;
}

.spirit {
  z-index: 1;
  max-width: 74%;
  margin-top: -15%;
  float: right;
}

.help {
  z-index: 2;
  margin-top: -26%;
  text-align: center;
  font-size: 63px;
  color: #0a0907;
  text-shadow: 10px 5px 10px white;
  font-family: fantasy;
  box-shadow: -3px 5px 5px white;
}

.spirit {
  max-width: 150px;
  z-index: -2;
  margin-top: -130px;
} 

.dog {
  margin-top: 11%;
  margin-left: -25px;
   font-size: 2rem !important;
   color: black;
}

h1 {
    font-size-adjust: 100px !important;
}
  
.lost {
    max-width: 136px;
    margin-left: 198px;
    margin-top: -762px;
}
