.container {
    padding: 5px;
}

.question {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-shadow: 2px 2px 0px black;
    margin-top: -700px;
    color: #ffba31;
}

.sleep {
    margin-top: -50px;
}

.wall {
    margin-top: 100px;
}
