.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    background-color: whitesmoke;
    text-align: center;
    color: #26ABE2;
    border-radius: 6px;
    height: 490px;
    width: 350px;
}

.question {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:  #ff0000;
}

.form {
    margin: 20px 15px 0px 15px;
    color: whitesmoke;
    background-color: #26ABE2;
    border-radius: 10px;
    padding: 15px;
}

.PrivateSwitchBase-input-21{
    color: whitesmoke;
}

img{
    height: 120px;
    width: 120px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
}

.btn {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
	background-color:#EC232A;
	border-radius:15px;
	cursor:pointer;
	color:whitesmoke;
	font-size:15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100px;
    height: 50px;
}
.btn:hover {
	background-color:#EC232A;
}
.btn:active {
	position:relative;
	top:1px;
}

span{
    padding-top: 15px;
}
