.App {
    background-image: linear-gradient(brown,#2b2a2d7d);
}

.mood {
    max-width: 100px;
    position: absolute;
    z-index: -2;
    float: left;
  }

  .dog {
      margin-top: 5%;
  }

  h1 {
      font-size-adjust: 20px;
  }